<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fxytb.malltinyboot.dao.mbg.UmsRoleMapper">
    <resultMap id="BaseResultMap" type="com.fxytb.malltinyboot.model.po.mbg.UmsRole">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="admin_count" jdbcType="INTEGER" property="adminCount"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
    </resultMap>
    <resultMap id="roleExtMap" type="com.fxytb.malltinyboot.model.bo.UmsRoleExtBo" extends="BaseResultMap">
        <collection property="resources"
                    resultMap="com.fxytb.malltinyboot.dao.mbg.UmsResourceMapper.resourceCategoryMap"
                    columnPrefix="resource_"/>
        <collection property="menus" resultMap="com.fxytb.malltinyboot.dao.mbg.UmsMenuMapper.BaseResultMap"
                    columnPrefix="menu_"/>
    </resultMap>
    <resultMap id="roleExtAfterSelectMap" type="com.fxytb.malltinyboot.model.bo.UmsRoleExtBo" extends="BaseResultMap">
        <collection property="resources"
                    ofType="com.fxytb.malltinyboot.model.po.mbg.UmsResource"
                    select="com.fxytb.malltinyboot.dao.mbg.UmsResourceMapper.selectResourceExtBosByRoleId"
                    column="id"
        />
        <collection property="menus"
                    ofType="com.fxytb.malltinyboot.model.po.mbg.UmsMenu"
                    select="com.fxytb.malltinyboot.dao.mbg.UmsMenuMapper.selectMenusByRoleId"
                    column="id"
        />
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id
        , name, description, admin_count, create_time, status, sort
    </sql>
    <select id="selectByExample" parameterType="com.fxytb.malltinyboot.model.po.mbg.UmsRoleExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from ums_role
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ums_role
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from ums_role
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByExample" parameterType="com.fxytb.malltinyboot.model.po.mbg.UmsRoleExample">
        delete from ums_role
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.fxytb.malltinyboot.model.po.mbg.UmsRole">
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
            id
        </selectKey>
        insert into ums_role (id, name, description,
        admin_count, create_time, status,
        sort)
        values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},
        #{adminCount,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER},
        #{sort,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.fxytb.malltinyboot.model.po.mbg.UmsRole">
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
            id
        </selectKey>
        insert into ums_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="name != null">
                name,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="adminCount != null">
                admin_count,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="sort != null">
                sort,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id,jdbcType=BIGINT},
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="adminCount != null">
                #{adminCount,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.fxytb.malltinyboot.model.po.mbg.UmsRoleExample"
            resultType="java.lang.Long">
        select count(*) from ums_role
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <select id="selectRoleMenuExtByRoleId" resultMap="roleExtMap">
        select
        ur.*,
        um.id as menu_id,
        um.parent_id as menu_parent_id,
        um.create_time as menu_create_time,
        um.title as menu_title,
        um.level as menu_level,
        um.sort as menu_sort,
        um.name as menu_name,
        um.icon as menu_icon,
        um.hidden as menu_hidden
        from ums_role ur
        left join ums_role_menu_relation urmr on ur.id = urmr.role_id
        left join ums_menu um on urmr.menu_id = um.id
        <where>
            ur.id = #{roleId}
        </where>
    </select>
    <select id="selectRoleResourceExtByRoleId" resultMap="roleExtMap">
        SELECT
        ur.*,
        urs.id AS resource_id,
        urs.create_time AS resource_create_time,
        urs.name AS resource_name,
        urs.url AS resource_url,
        urs.description AS resource_description,
        urs.category_id AS resource_category_id
        FROM
        ums_role ur
        LEFT JOIN ums_role_resource_relation urrsr ON ur.id = urrsr.role_id
        LEFT JOIN ums_resource urs ON urrsr.resource_id = urs.id
        <where>
            ur.id = #{roleId}
        </where>
    </select>
    <select id="selectRoleResourceWithMenuExtByRoleId" resultMap="roleExtAfterSelectMap">
        select
        <include refid="Base_Column_List"/>
        from ums_role ur
        <where>
            ur.id = #{roleId}
        </where>
    </select>
    <select id="selectRoleWithUmsAdminCount"
            resultType="com.fxytb.malltinyboot.model.bo.UmsRoleUmsWithAdminCountBo">
        SELECT
        ur.id,
        ur.`name`,
        COUNT(ua.id) count
        FROM
        ums_role ur, ums_admin_role_relation uarr, ums_admin ua
        <where>
            ua.id = uarr.admin_id
            AND ur.id = uarr.role_id
        </where>
        GROUP BY
        ur.id
    </select>

    <update id="updateByExampleSelective" parameterType="map">
        update ums_role
        <set>
            <if test="row.id != null">
                id = #{row.id,jdbcType=BIGINT},
            </if>
            <if test="row.name != null">
                name = #{row.name,jdbcType=VARCHAR},
            </if>
            <if test="row.description != null">
                description = #{row.description,jdbcType=VARCHAR},
            </if>
            <if test="row.adminCount != null">
                admin_count = #{row.adminCount,jdbcType=INTEGER},
            </if>
            <if test="row.createTime != null">
                create_time = #{row.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="row.status != null">
                status = #{row.status,jdbcType=INTEGER},
            </if>
            <if test="row.sort != null">
                sort = #{row.sort,jdbcType=INTEGER},
            </if>
        </set>
        <if test="example != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update ums_role
        set id = #{row.id,jdbcType=BIGINT},
        name = #{row.name,jdbcType=VARCHAR},
        description = #{row.description,jdbcType=VARCHAR},
        admin_count = #{row.adminCount,jdbcType=INTEGER},
        create_time = #{row.createTime,jdbcType=TIMESTAMP},
        status = #{row.status,jdbcType=INTEGER},
        sort = #{row.sort,jdbcType=INTEGER}
        <if test="example != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.fxytb.malltinyboot.model.po.mbg.UmsRole">
        update ums_role
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="adminCount != null">
                admin_count = #{adminCount,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.fxytb.malltinyboot.model.po.mbg.UmsRole">
        update ums_role
        set name        = #{name,jdbcType=VARCHAR},
            description = #{description,jdbcType=VARCHAR},
            admin_count = #{adminCount,jdbcType=INTEGER},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            status      = #{status,jdbcType=INTEGER},
            sort        = #{sort,jdbcType=INTEGER}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>